@import "tailwindcss";

:root {
  --main-font: serif;
  --main-color: #333333;
  --background-color: #FFFBEA;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}